* {
    font-family: sans-serif;
    box-sizing: border-box;
}
body {
    background-image: url("fondo.jpg");
    background-repeat: no-repeat;
    background-position: center;
}

div{
    min-height: 100px;
}
